@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
	margin-bottom: 20px;
}

.login-container input {
	width: 95%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login-container button{
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none; /* 링크에서 밑줄 제거 */
	display: block; /* 링크를 블록으로 만들어 버튼처럼 보이게 */
	margin-top: 10px; /* 간격 추가 */
}

.errorText {
	margin: 3px;
	text-align: center;
}

.register-button {
	width: calc(100% - 20px); /* 너비 조정 */
	padding: 10px;
	background-color: #28a745;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none; /* 링크에서 밑줄 제거 */
	display: block; /* 링크를 블록으로 만들어 버튼처럼 보이게 */
	margin-top: 10px; /* 간격 추가 */
}