<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoServer WMS with OpenLayers</title>
  <link rel="stylesheet" th:href="@{/css/ol.css}"/>
  <script type="text/javascript" th:src="@{/js/ol.js}"></script>
  <style>
    /* 드롭다운을 기본적으로 숨김 */
    #subwaySelectContainer {
      display: none;
    }
  </style>
</head>
<body>
<div id="map" style="width: 100%; height: 600px;"></div>
<div id="map_text"></div>
<div id="subway"></div>
<div id="map_position"></div>
<div id="population_text"></div>

<!-- 체크박스 추가 -->
<div>
  <label for="wmsLayerCheckbox">WMS Layer 표시:</label>
  <input type="checkbox" id="wmsLayerCheckbox">
</div>
<div>
  <label for="populationCheckbox">인구 표시:</label>
  <input type="checkbox" id="populationCheckbox">
</div>
<div>
  <label for="subwayCheckbox">지하철</label>
  <input type="checkbox" id="subwayCheckbox">
</div>
<div>
  <label for="subwayRangeCheckbox">지하철-범위</label>
  <input type="checkbox" id="subwayRangeCheckbox">
</div>
<div id="subwaySelectContainer">
  <label for="subwaySelect">지하철 범위 선택:</label>
  <select id="subwaySelect">
    <option value="ne:subway_100">100</option>
    <option value="ne:subway_200">200</option>
    <option value="ne:subway_300">300</option>
    <option value="ne:subway_400">400</option>
    <option value="ne:subway_500">500</option>
  </select>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // OpenLayers Map 객체 생성
    var map = new ol.Map({
      target: 'map', // map div에 지도 표시
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()  // OpenStreetMap 배경 지도
        }), // 0번
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL, 자기 설정으로 수정  http://localhost:포트번호/geoserver/저장소/wms
            params: {
              'LAYERS': 'ne:test',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false  // 기본적으로 WMS 레이어가 보이지 않도록 설정
        }),  //1번
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL
            params: {
              'LAYERS': 'ne:population',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false,  // 기본적으로 레이어가 보이지 않도록 설정
          opacity: 0.8,  // 80% 투명도
          zIndex: 90
        }), // 2번 인구 데이터
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL
            params: {
              'LAYERS': 'ne:subway',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false,  // 기본적으로 레이어가 보이지 않도록 설정
          opacity: 1,
          zIndex: 100
        }), // 3번 송파구 지하철 위치
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'http://localhost:8080/geoserver/ne/wms',  // GeoServer WMS URL
            params: {
              'LAYERS': 'ne:subway_100',  // 사용하려는 레이어 이름
              'TILED': true,
              'FORMAT': 'image/png',
              'SRS': 'EPSG:4326'  // 좌표계 설정
            },
            serverType: 'geoserver'
          }),
          visible: false,  // 기본적으로 레이어가 보이지 않도록 설정
          opacity: 0.8,  // 80% 투명도
          zIndex: 90
        }) // 4번 지하철 범위
      ],
      view: new ol.View({
        projection: 'EPSG:4326',  // 지도 좌표계 설정
        center: [126.978, 37.566],  // 서울의 경도, 위도 좌표
        zoom: 11,  // 기본 줌 레벨
        minZoom: 1, // 최소 줌 레벨 설정
        maxZoom: 15, // 최대 줌 레벨 설정
      })
    });

    // 체크박스를 클릭할 때 레이어의 가시성 토글
    var wmsLayerCheckbox = document.getElementById('wmsLayerCheckbox');
    wmsLayerCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(1); // WMS 레이어
      wmsLayer.setVisible(wmsLayerCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });
    var populationCheckbox = document.getElementById('populationCheckbox');
    populationCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(2); // WMS 레이어
      wmsLayer.setVisible(populationCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });
    var subwayCheckbox = document.getElementById('subwayCheckbox');
    subwayCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(3); // WMS 레이어
      wmsLayer.setVisible(subwayCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });
    var subwayRangeCheckbox = document.getElementById('subwayRangeCheckbox');
    subwayRangeCheckbox.addEventListener('change', function() {
      var wmsLayer = map.getLayers().item(4); // WMS 레이어
      wmsLayer.setVisible(subwayRangeCheckbox.checked);  // 체크된 상태에 따라 레이어 표시/숨기기
    });

    // 지하철 범위 체크박스를 클릭할 때, 지하철 범위 선택 드롭다운을 토글
    var subwaySelectContainer = document.getElementById('subwaySelectContainer'); // 드롭다운을 감싸는 div
    subwayRangeCheckbox.addEventListener('change', function() {
      if (subwayRangeCheckbox.checked) {
        subwaySelectContainer.style.display = 'block';  // 체크되면 드롭다운 표시
      } else {
        subwaySelectContainer.style.display = 'none';   // 체크 해제되면 드롭다운 숨기기
      }
    });

    var subwaySelect = document.getElementById('subwaySelect');
    subwaySelect.addEventListener('change', function() {
      var subwayLayer = map.getLayers().item(4);
      var selectedLayerOption = subwaySelect.value;
      console.log(selectedLayerOption)

      subwayLayer.getSource().updateParams({
        'LAYERS': selectedLayerOption
      });
      subwayLayer.setVisible(false);
      subwayLayer.setVisible(true);
    });

    // 지도 클릭시
    map.on('click', function (event) {
      var coordinate = event.coordinate;
      var view = map.getView();
      var resolution = view.getResolution();
      var projection = view.getProjection();

      // 클릭한 위치 좌표
      var lonLatText = '클릭한 위치의 좌표: ' + coordinate[0].toFixed(6) + ', ' + coordinate[1].toFixed(6);
      let coordinateText = document.getElementById("map_position");
      coordinateText.textContent = lonLatText;

      // 클릭한 위치에서 직선 거리로 가장 가까운 역 이름, 거리
      const x = coordinate[0].toFixed(6);
      const y = coordinate[1].toFixed(6);
      fetch('/subway', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ x, y })
      }).then(response => response.json())
              .then(data => {
                console.log('서버 응답:', data);

                let subway = document.getElementById("subway");
                if (data.name && data.distance) {
                  subway.textContent = `가까운 지하철역: ${data.name}, 거리: ${data.distance}m`;
                } else {
                  subway.textContent = "가까운 지하철을 찾을 수 없습니다.";
                }
              })
              .catch(error => {
                console.error('Error fetching subway data:', error);
              });

      // 클릭한 위치 이름
      var url1 = map.getLayers().item(1).getSource().getGetFeatureInfoUrl(coordinate, resolution, projection, {
        'INFO_FORMAT': 'application/json'
      });
      if (url1) {
        fetch(url1)
                .then(response => response.json())
                .then(data => {
                  const name = data.features[0].properties.name;
                  let text = document.getElementById("map_text");
                  text.textContent = '현재 클릭한 곳은 ' + name + ' 입니다.';
                })
                .catch(error => console.error('Error fetching feature info:', error));
      }

      // 클릭한 위치 거주 인원
      var url2 = map.getLayers().item(2).getSource().getGetFeatureInfoUrl(coordinate, resolution, projection, {
        'INFO_FORMAT': 'application/json'
      });
      if (url2) {
        fetch(url2)
                .then(response => response.json())
                .then(data => {
                  if (data.features && data.features[0] && data.features[0].properties && data.features[0].properties.val) {
                    const val = data.features[0].properties.val;
                    let text = document.getElementById("population_text");
                    text.textContent = '현재 클릭한 곳의 거주 인원는 약 ' + val + '명 입니다.';
                  } else {
                    let text = document.getElementById("population_text");
                    text.textContent = '이곳의 거주 인원은 없는 것 같습니다.';
                  }
                })
                .catch(error => {
                  console.error('Error fetching feature info:', error);
                  let text = document.getElementById("population_text");
                  text.textContent = '이곳의 거주 인원은 없는 것 같습니다.';
                });
      }
    });
  });
</script>
</body>
</html>
