<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.new_project.mapper.AccountMapper">
    <select id="selectAllAccount" resultType="com.example.new_project.entity.Account">
        SELECT * FROM account ORDER BY account_num
    </select>

    <insert id="insertAccount" parameterType="String">
        INSERT INTO account (user_id)
        VALUES (#{user_id})
    </insert>

    <update id="updateAccount" parameterType="com.example.new_project.entity.Account">
        UPDATE account
        SET state = #{state}
        WHERE user_id = #{user_id}
    </update>

    <delete id="deleteAccount" parameterType="String">
        DELETE FROM account WHERE account_num = #{account_num}
    </delete>
</mapper>
