<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.new_project.mapper.NoticeMapper">
    <select id="selectNoticeList" resultType="com.example.new_project.entity.Notice">
        SELECT notice_num,
               title,
               hit_cnt,
               TO_CHAR(created_datetime, 'YYYY.MM.DD HH24:MI:SS') AS created_datetime
        FROM notice
        ORDER BY notice_num DESC
    </select>

    <insert id="insertNotice" parameterType="com.example.new_project.entity.Notice" useGeneratedKeys="true" keyProperty="notice_num">
        INSERT INTO notice (title, contents)
        VALUES (#{title}, #{contents})
            RETURNING notice_num
    </insert>

    <select id="selectNoticeDetail" parameterType="int" resultType="com.example.new_project.entity.Notice">
        SELECT notice_num as notice_num,
               title,
               contents,
               hit_cnt,
               TO_CHAR(created_datetime, 'YYYY.MM.DD HH24:MI:SS') AS created_datetime
        FROM notice
        WHERE notice_num = #{notice_num}
    </select>

    <update id="updateHitCount" parameterType="int">
        UPDATE notice
        SET hit_cnt = hit_cnt + 1
        WHERE notice_num = #{notice_num}
    </update>

    <update id="updateNotice" parameterType="com.example.new_project.entity.Notice">
        UPDATE notice
        SET title = #{title}, contents = #{contents}
        WHERE notice_num = #{notice_num}
    </update>

    <delete id="deleteNotice" parameterType="int">
        delete from notice
        WHERE notice_num = #{notice_num}
    </delete>
</mapper>
