<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}"/>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script> <!-- jquery 사용하기 위해서 필요 -->
</head>
<body>
<div class="container">
    <h2>게시글 상세 화면</h2>
    <form id="frm" method="post">
        <table class="notice_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <caption>자료실 상세내용</caption>
            <tbody>
            <tr>
                <th scope="row">글 번호</th>
                <td th:text="${notice.notice_num}"></td>
                <th scope="row">조회수</th>
                <td th:text="${notice.hit_cnt}"></td>
            </tr>
            <tr>
                <th scope="row">작성자</th>
                <td th:text="관리자"></td>
                <th scope="row">작성일</th>
                <td th:text="${notice.created_datetime}"></td>
            </tr>
            <tr>
                <th scope="row">제목</th>
                <td colspan="3">
                    <div th:if="${session.user != null && session.user.state.equals('root')}">
                        <input type="text" id="title" name="title" th:value="${notice.title}"/>
                    </div>
                    <div th:if="${session.user == null || !session.user.state.equals('root')}">
                        <input type="text" class="hidden-input" th:value="${notice.title}" readonly/>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <div th:if="${session.user != null && session.user.state.equals('root')}">
                    <textarea title="내용" id="contents" name="contents" th:text="${notice.contents}"></textarea>
                    </div>
                    <div th:if="${session.user == null || !session.user.state.equals('root')}">
                        <textarea title="내용" class="hidden-textarea" th:text="${notice.contents}" readonly></textarea>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" id="notice_num" name="notice_num" th:value="${notice.notice_num}">
    </form>

    <a href="#this" id="list" class="btn">목록으로</a>
    <div th:if="${session.user != null}">
        <div th:if="${session.user.state.equals('root')}">
            <a href="#this" id="edit" class="btn">수정하기</a>
            <a href="#this" id="delete" class="btn">삭제하기</a>
        </div>
    </div>
</div>

<script th:src="@{/js/noticeDetail.js}"></script>
</body>
</div>
</html>
