<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <title>정보 수정</title>
</head>
<body>
<div class="container">
    <h2>내 정보 수정</h2>
    <form th:action="@{/user/info_process}" th:object="${session.user}" method="post">
        <label for="id">ID</label>
        <input type="text" id="id" name="id" th:value="${session.user.id}" readonly>
        <label for="pass">PassWord</label>
        <input type="text" id="pass" name="pass" th:value="${session.user.pass}" required oninput="validatePassword(this)">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" th:value="${session.user.name}" required oninput="validateName(this)">
        <label for="phone">전화번호</label>
        <input type="text" id="phone" name="phone" th:value="${session.user.phone}" required oninput="validateTel(this)">
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" th:value="${session.user.email}" required>
        <input type="submit" value="정보 수정">
        <input type="reset" value="취소" onclick="history.back()">
    </form>
</div>
<script th:src="@{/js/validate.js}"></script>
</body>
</html>
