<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">목록</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/notice/list">공지사항</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/map">지도</a>
            <a id="question" class="list-group-item list-group-item-action list-group-item-light p-3">문의사항</a>
            <ul id="question_section" style="display:none;">
                <li>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/#">FAQ</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/#">Q&A</a>
                </li>
            </ul>
            <a id="using" class="list-group-item list-group-item-action list-group-item-light p-3">이용안내</a>
            <ul id="using_section" style="display:none;">
                <li>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/#">플랫폼 소개</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/#">이용 가이드</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/#">분석사례</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <th:block th:if="${session.user == null}">
                            <li class="nav-item"><a class="nav-link" th:href="@{/user/login}">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/user/register}">회원가입</a></li>
                        </th:block>
                        <th:block th:if="${session.user != null}">
                            <li class="nav-item"><a class="nav-link" th:text="${session.user.getName()}"></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/user/info}">정보</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">로그아웃</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" layout:fragment="content">
            <h1 class="mt-4">Simple Sidebar</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>
                Make sure to keep all page content within the
                <code>#page-content-wrapper</code>
                . The top navbar is optional, and just for demonstration. Just create an element with the
                <code>#sidebarToggle</code>
                ID which will toggle the menu when clicked.
            </p>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap_bundle.js}"></script>
<script th:src="@{/js/jquery_363.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script>
    document.getElementById("question").addEventListener("click", function (){
        let section = document.getElementById("question_section");
        if(section.style.display === 'none' || section.style.display === ''){
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    })

    document.getElementById("using").addEventListener("click", function (){
        let section = document.getElementById("using_section");
        if(section.style.display === 'none' || section.style.display === ''){
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    })
</script>
</body>
</html>
